@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-gradient {
    background: -webkit-gradient(
      linear,
      right top,
      left top,
      from(hsl(136, 65%, 51%)),
      to(hsl(192, 70%, 51%))
    );
  }

  .header-section {
    @apply fixed z-50  bg-white  px-2 sm:px-7 py-5 w-full top-0 left-0;
  }

  .container-navbar {
    @apply container flex flex-wrap justify-between items-center mx-auto z-20;
  }

  :hover.margin-check {
    display: inline-block;
    position: relative;
  }

  :hover.margin-check::before {
    position: absolute;
    content: "";
    /* border-bottom: 4px; */
    width: 70%;
    transform: translateX(-50%);
    bottom: -37px;
    left: 50%;
    border-bottom: 2px solid transparent;
    border-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(hsl(136, 65%, 51%)),
      to(hsl(192, 70%, 51%))
    );
    border-image-slice: 1;
    width: 100%;
  }

  .bg-gradients {
    background: linear-gradient(hsl(233, 26%, 24%), hsla(0, 0%, 100%, 0.37));
  }

  .list-menu {
    @apply justify-center items-center w-full md:flex md:w-auto hidden lg:block ml-20;
  }

  .text-menu {
    @apply flex flex-row p-4 mt-4 md:flex-row md:space-x-9 md:mt-0 md:font-medium text-uncommitted-light-grayish-blue cursor-pointer;
  }
}
